body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F9FA;
}

.logo {
    display: block;
    width: 85px;
    height: 85px;
    margin: 24px auto 0;
}

.title {
    font-size: 40px;
    margin-bottom: 16px;
}

.main-container {
    width: 100%;
    max-width: 412px;
    height: 100dvh;
    position: relative;
}